.colorbox {
  background-color: #57dbaf;
  padding: 1em 1.5em;
  border-radius: 3px;
}

.dark .colorbox {
  background-color: #117060;
}

@media (min-width: 768px) {
  .hextra-max-page-width {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 768px) {
  .hextra-max-navbar-width {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

nav.hextra-toc div.hextra-scrollbar ul ul ul {
  display: none !important;
}

.hextra-nav-menu-items a.active,
.hextra-nav-menu-toggle a.active {
  color: #003b1e !important;
  font-weight: 600;
}